tr,td
{
    border: 1px solid;
}
/* .table-border-horizontal
{
    border:
} */
tr:nth-child(even){background-color: #aaaaaa;}
td:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: steelblue;
    color: white;
}
